<div class="hmDiv">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <div class="d-flex flex-column">
      <p class="paragraph-1">your balance</p>
      <p class="heading-2">$1234.56</p>
    </div>
    <div class="newBtn">
      <i class="fa-thin fa-plus ctPlus"></i>
    </div>
  </div>
  <div class="d-flex">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="productConfig">
      <div ngxSlickItem *ngFor="let product of products" class="slide">
        <app-button-ui [name]="product.name" [classNames]="product.className" (click)="singleElem(product)"></app-button-ui>
      </div>
    </ngx-slick-carousel>
  </div>
  <div class="d-flex">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="productConfig2">
      <div ngxSlickItem *ngFor="let product of products2" class="slide slide-width">
        <app-button-ui [name]="product.name" [classNames]="product.className" (click)="singleElem(product)"></app-button-ui>
      </div>
    </ngx-slick-carousel>
  </div>
  <div class="d-flex flex-column mt-3">
    <div @slideUp *ngFor="let product of productList">
      <app-product-ui [imgSrc]="product.imgSrc" [price]="product.price" [time]="product.time" (click)="singleProd(product)"></app-product-ui>
    </div>
  </div>
</div>