.hmDiv {
  padding: 15% 5%;
}
.newBtn {
  background-color: var(--primary-light);
  border-radius: 16px;
  padding: 12px;
}
.ctPlus {
  font-size: 50px;
  line-height: 0.5;
}

.slick-slider {
  width: 100%;
  margin: auto;
}

.slide-width {
  /* width: 8.8% !important; */
  /* margin-right: 16px !important; */
}

body .slick-prev, 
body .slick-next {
  height: 45px;
  width: 40px;
  background: grey !important;
  z-index: 100;
}

::ng-deep.slick-prev:before, ::ng-deep.slick-next:before {
  display: none;
}